////////// colors //////////

$color_1:     rgb(3,168,171);
$color_2:     rgb(255,189,27);
$color_3:     rgb(2,125,17);
$color_4:     rgb(45,45,45);

////////// defaults //////////

body {
  background-color: $color_4;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

