////////// colors //////////

$color-1:     #FDFDFD;
$color-2:     #66A9BF;
$color-4:     rgb(45,45,45);

////////// defaults //////////

body {
  background-color: $color_4;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
  margin: 0;
}

#wrap {
  width: 900px;
  max-width: 92%;
  margin: 0 auto;
}

.link {
  position: relative;
  font-size: 2rem;
  display: inline-block;
  line-height: .6;

  span {
    position: relative;
    transition: 0.05s;
  }

  &:hover {
    span {
      top: 0;
      left: 0;
    }
  }

  &:active {
    .color-2 span {
      top: -2px;
    }

    .color-1 span {
      top: 2px;
    }
  }
}

.top {
  position: absolute;
  top: 0;
}

.color-2 {
  color: $color-2;
  position: relative;

  .bottom {
    z-index: 1;
  }

  .top {
    z-index: 3;
    opacity: 0.90;
  }

  span {
    left: 2px;
  }
}

.color-1 {
  color: $color-1;
  position: absolute;
  top: 0;

  span {
    left: -2px;
  }

  .bottom {
    z-index: 2;
  }

  .top {
    z-index: 4;
    opacity: 0.4;
  }
}